.u-form-item__body__left__content__label, .input-placeholder {
	color: $text-color !important;
	font-size: 26rpx !important;
}


.input-placeholder {
	color: $text-sub-color !important;
	font-size: 26rpx !important;
}
